<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: commonHeader"></head>

<body>

<nav th:replace="layouts :: navigationBar"></nav>

    <div>
        <h4>Current projects</h4>
        <table>
            <thead>
            <tr>
                <th>Project name</th>
                <th>Project status</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.name}"></td>
                <td th:text="${project.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>Current employees</h4>
        <table>
            <thead>
            <tr>
                <th>Employee First name</th>
                <th>Employee Last name</th>
                <th>Employee Email address</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>

</html>