<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: commonHeader"></head>

<body>

<nav th:replace = "layouts :: navigationBar"></nav>

<div class="container">
    <form action="/employees/save" th:object="${employee}" method="POST">

        <input type="text" placeholder="First name" th:field="${employee.firstName}">

        <input type="text" placeholder="Last name" th:field="${employee.lastName}">

        <input type="text" placeholder="Email address" th:field="${employee.email}">


        <button type="submit">Create employee</button>

    </form>
</div>

</body>

</html>